body {
    font-family: Arial, sans-serif;
    background-color: #2300637e;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 50px auto;
    background-color: #af890a21;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.445);
}

h1 {
    text-align: center;
    color: #0f0f0f;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #1e1eb8;
}

th, td {
    padding: 8px;
    text-align: left;
}

th {
    background-color: #b495fc;
}

a {
    color: #eb09cd;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.btn {
    display: inline-block;
    padding: 10px 15px;
    background-color: #eb8909;
    color: rgb(151, 22, 187);
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.btn:hover {
    background-color: #eb093a;
}
    form {
        display: flex;
        flex-direction: column;
        max-width: 400px;
        margin: 0 auto;
    }
    
    form label {
        margin: 10px 0 5px;
    }
    
    form input {
        padding: 8px;
        margin-bottom: 15px;
        border: 1px solid #111110;
        border-radius: 5px;
    }